@model Holtz_PDV.Models.ViewModels.PedidoFromViewModel
@{
    ViewData["Title"] = "Editar Pedido";
}
<h3>@ViewData["Title"]</h3>


<hr /> <!-- Quebra de linha -->
<div class="row">
    <!-- Vai garantir que a linha vai ocupar toda a tela -->
    <div class="col-md-4">
        <!-- Vai ocupar 1/3 da tela, pois o bootstrap divide em 12 partes, e estamos pegando 4 partes-->
        <form asp-action="Edit">

            <div class="form-group">
                <input type="hidden" asp-for="PedCod" />
                <label asp-for="ClientePedCliCod" class="control-label">Cód. Cliente</label>
                <input asp-for="ClientePedCliCod" class="form-control" />
                <span asp-validation-for="ClientePedCliCod" class="text-danger"></span> <!-- msg erro em baixo do campo -->
                <a class="btn btn-success" data-toggle="modal" data-target=".bootstrapmodal"><span class="glyphicon glyphicon-eye-open"> </span> PopUp </a>
                
                <div class="modal fade bootstrapmodal" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title">Clientes</div>
                                <button data-dismiss="modal" class="close"> <span>&times;</span></button>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="PedDtaEms" class="control-label"></label>
                <input asp-for="PedDtaEms" class="form-control" --Selecione-- />
                <span asp-validation-for="PedDtaEms" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PedDtaFat" class="control-label"></label>
                <input asp-for="PedDtaFat" class="form-control" />
                <span asp-validation-for="PedDtaFat" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>

            <div class="form-group">
                <label asp-for="PedSts" class="control-label"></label>
                <select asp-for="PedSts" asp-items="@(new SelectList(Enum.GetValues(typeof(Holtz_PDV.Models.Enums.Status_Pedido))))" class="form-control">--Selecione--</select>
                <span asp-validation-for="PedSts" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>


            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts { <!-- Para funcionar as validações (msg) a nivel de Java Script -->
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}