@model Holtz_PDV.Models.ViewModels.CidadeFromViewModel
@{
    ViewData["Title"] = "Editar Cidade";
}
<h3>@ViewData["Title"]</h3>

<hr /> <!-- Quebra de linha -->
<div class="row">
    <!-- Vai garantir que a linha vai ocupar toda a tela -->
    <div class="col-md-4">
        <!-- Vai ocupar 1/3 da tela, pois o bootstrap divide em 12 partes, e estamos pegando 4 partes-->
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="CidCod" />
                <label asp-for="CidNom" class="control-label">Nome/Razão</label>
                <input asp-for="CidNom" class="form-control" />
                <span asp-validation-for="CidNom" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>
            <div class="form-group">
                <label asp-for="CidIBGE" class="control-label"></label>
                <input asp-for="CidIBGE" class="form-control" />
                <span asp-validation-for="CidIBGE" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>
            <div class="form-group">
                <!-- ComboBox de Cidades -->
                <label asp-for="EstCod" class="control-label"></label>
                <select asp-for="EstCod" asp-items="@(new SelectList(Model.Estados,"EstCod","EstNom"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts { <!-- Para funcionar as validações (msg) a nivel de Java Script -->
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}