@{
    ViewData["Title"] = "Página Inicial";
}

    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p>
            Veja o projeto no 
            <a target="_blank" href="https://github.com/henriqueholtz/Holtz_PDV">
                <button type="button" class="btn btn-GitHub" >
                    GitHub
                </button>
            </a>
        </p>
        <button class="btn btn-WhatsApp fab fa-whatsapp">
            WhatsApp
        </button>
    </div>
