@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Veja o projeto no <a href="https://github.com/henriqueholtz/Holtz_PDV">GitHub</a>.</p>
</div>
