@model Holtz_PDV.Models.ViewModels.ProdutoFromViewModel

@{

    ViewData["Title"] = "Cadastrar Produto";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProSts" class="control-label"></label>
                <select asp-for="ProSts" asp-items="@(new SelectList(Enum.GetValues(typeof(Holtz_PDV.Models.Enums.Status_AtivoInativo))))" class="form-control">--Selecione--</select>
                <span asp-validation-for="ProSts" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProNom" class="control-label"></label>
                <input asp-for="ProNom" class="form-control" />
                <span asp-validation-for="ProNom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!-- ComboBox de Marcas -->
                <label asp-for="Marca.MarCod" class="control-label">Marca</label>
                <select asp-for="Marca.MarCod" asp-items="@(new SelectList(Model.Marcas,"MarCod","MarNom"))" class="form-control">--Selecione--</select>
                <span asp-validation-for="Marca.MarCod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProVlrCus" class="control-label"></label>
                <input asp-for="ProVlrCus" class="form-control" />
                <span asp-validation-for="ProVlrCus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProVlrVen" class="control-label"></label>
                <input asp-for="ProVlrVen" class="form-control" />
                <span asp-validation-for="ProVlrVen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProObs" class="control-label"></label>
                <input asp-for="ProObs" class="form-control" />
                <span asp-validation-for="ProObs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}