@model Holtz_PDV.Models.ViewModels.ProdutoFromViewModel
@{
    ViewData["Title"] = "Editar Produto";
}
<h3>@ViewData["Title"]</h3>


<hr /> <!-- Quebra de linha -->
<div class="row">
    <!-- Vai garantir que a linha vai ocupar toda a tela -->
    <div class="col-md-4">
        <!-- Vai ocupar 1/3 da tela, pois o bootstrap divide em 12 partes, e estamos pegando 4 partes-->
        <form asp-action="Edit">

            <div class="form-group">
                <label asp-for="ProSts" class="control-label"></label>
                <select asp-for="ProSts" asp-items="@(new SelectList(Enum.GetValues(typeof(Holtz_PDV.Models.Enums.Status_AtivoInativo))))" class="form-control">--Selecione--</select>
                <span asp-validation-for="ProSts" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="ProCod" />
                <label asp-for="ProNom" class="control-label">Nome do Produto</label>
                <input asp-for="ProNom" class="form-control" />
                <span asp-validation-for="ProNom" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>

            <div class="form-group">
                <!-- ComboBox de Marcas -->
                <label asp-for="MarcaMarCod" class="control-label">Marca</label>
                <select asp-for="MarcaMarCod" asp-items="@(new SelectList(Model.Marcas,"MarCod","MarNom"))" class="form-control">--Selecione--</select>
                <span asp-validation-for="MarcaMarCod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProVlrCus" class="control-label"></label>
                <input asp-for="ProVlrCus" class="form-control" />
                <span asp-validation-for="ProVlrCus" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>

            <div class="form-group">
                <label asp-for="ProVlrVen" class="control-label"></label>
                <input asp-for="ProVlrVen" class="form-control" />
                <span asp-validation-for="ProVlrVen" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>

            <div class="form-group">
                <label asp-for="ProObs" class="control-label"></label>
                <input asp-for="ProObs" class="form-control" />
                <span asp-validation-for="ProObs" class="text-danger"></span> <!-- msg erro em baixo do campo -->
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts { <!-- Para funcionar as validações (msg) a nivel de Java Script -->
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}